/* font link */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, white, black);
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    text-align: center;
    align-items: center;
}

h1 {
    color: aliceblue;
}


#button {
    margin-top: 50px;
    width: 170px;
    height: 40px;
    background: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    border-radius: 7px ;
    box-shadow: 0px 10px 50px rgb(0, 255, 0);
}