body {
    display: flex;
    background: linear-gradient(90deg, rgb(126, 254, 126), rgb(108, 108, 249));
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.wrapper {
    margin: 1rem;
    width: 30%;
    border: 0.4rem white outset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper>button {
    border: 5px grey solid;
    color: red;
    background-color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    width: 7rem;
    height: 4rem;
    margin: 5rem;
}

.wrapper:nth-child(1)>button {
    /* transition-property: transform;
    text-decoration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */
    transition: transform 0.3s ease 0s;
}

.wrapper:nth-child(1)>button:hover {
    transform: translateY(-10px);
}

.wrapper:nth-child(2)>button {
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.wrapper:nth-child(2)>button:hover {
    transform: translateY(-10px);
    background-color: red;
    color: white;
}

.wrapper:nth-child(3)>button {
    transition: all 0.3s;
}

.wrapper:nth-child(3)>button:hover {
    transform: scale(1.2);
    background-color: red;
    color: white;
}


.wrapper:nth-child(4)>button {
    transition: transform 0.3s;
}

.wrapper:nth-child(4)>button:hover {
    /* transform: scaleX(0.7) scaleY(1.3); */
    transform: scale(0.7, 1.3);
}

.wrapper:nth-child(5)>button {
    transition: transform 0.3s;
}

.wrapper:nth-child(5)>button:hover {
    /* transform: skewY(25deg); */
    /* transform: skew(-25deg); */
    transform: skew(-25deg, 25deg);
}

.wrapper:nth-child(6)>button {
    transition: transform 1s;
}

.wrapper:nth-child(6)>button:hover {
    transform: rotate(360deg);
}

.wrapper:nth-child(7)>button {
    transition: transform 0.3s;
}

.wrapper:nth-child(7)>button:hover {
    transform: translate(10px, -10px);
}

.wrapper:nth-child(8)>button {
    transition: transform 0.3s;
}

.wrapper:nth-child(8)>button:hover {
    transform: rotate(45deg) translate(30px, 20px);
}

.wrapper:nth-child(9)>button {
    transition: transform 0.3s;
}

.wrapper:nth-child(9)>button:hover {
    transform: rotateY(180deg);
}

.wrapper:nth-child(10)>button {
    /* parent element "perspective: 1000px;" */
    transition: transform 0.3s;
}

.wrapper:nth-child(10)>button:hover {
    transform: rotateY(50deg);
}

.wrapper:nth-child(11)>button {
    transition: width 1s;
}

.wrapper:nth-child(11)>button:hover {
    width: 50%;
}

.wrapper:nth-child(12)>button {
    transition: all 0.3s;
}

.wrapper:nth-child(12)>button:hover {
    transform: perspective(400px) scale3d(1, 1, 5) rotateX(17deg);
    width: 50%;
}

.wrapper:nth-child(13)>button {
    transition: all 0.5s;
}

.wrapper:nth-child(13)>button:hover {
    border: 20px white solid;
}